.container{
    position: relative;
    width: 500px;
    height: 350px;
    background-color: red;
    border-radius: 8px;
    margin: 20px;
}

.gray-box{
    position:absolute;
    width: 25%;
    height: 30%;
    background-color: gray;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.white-box{
    position:absolute;
    width: 50%;
    height: 250px;
    background-color: white;
    left:25%;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

#left-gray{
    left: 0;
    top:-8px;
}

#right-gray{
    right: 0;
    top:-8px;
}