    <!DOCTYPE html>
    <html>
      <head>
        <link rel="stylesheet" type="text/css" href="style.css">
        <title>Exercise 2</title>
      </head>
      <body>
        <div class="container">
          <menu>
            <div class = "left">
              <ul> 
                <li><a href="#">Home</a>
                  <div class="dropdown-content">
                    <a href="#">Sub-item 1</a>
                    <a href="#">Sub-item 2</a>
                  </div>
                </li>
                <li><a href="#">Products</a>
                  <div class="dropdown-content">
                    <a href="#">Sub-item 1</a>
                    <a href="#">Sub-item 2</a>
                    <a href="#">Sub-item 3</a>
                  </div>
                </li>
                <li><a href="#">Services</a>
                  <div class="dropdown-content">
                    <a href="#">Sub-item 1</a>
                    <a href="#">Sub-item 2</a>
                    <a href="#">Sub-item 3</a>
                    <a href="#">Sub-item 4</a>
                  </div>
                </li>
                <li><a href="#">About</a>
                  <div class="dropdown-content">
                    <a href="#">Sub-item 1</a>
                    <a href="#">Sub-item 2</a>
                  </div>
                </li>
                <li><a href="#">Contact</a>
                  <div class="dropdown-content">
                    <a href="#">Sub-item 1</a>
                    <a href="#">Sub-item 2</a>
                  </div>
                </li>
              </ul>
            </div>
            <div class = "right">
              <ul> 
                <li><a href="#">Account</a>
                  <div class="dropdown-content">
                    <a href="#">Sub-item 1</a>
                    <a href="#">Sub-item 2</a>
                  </div>
                </li>
                <li><a href="#">Cart</a>
                  <div class="dropdown-content">
                    <a href="#">Sub-item 1</a>
                    <a href="#">Sub-item 2</a>
                  </div>
                </li>
              </ul>
            </div>
          </menu>
          <main>
            <div class="data-bordered">
              <div class="top">
                Welcome to Our Website
              </div>
              <div class="bottom">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae
      corporis expedita accusantium, enim ad sapiente quibusdam earum hic? Enim
      vel at voluptate alias corporis hic nemo minima velit doloribus quas.Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae
      corporis expedita accusantium, enim ad sapiente quibusdam earum hic?Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae
      corporis expedita accusantium, enim ad sapiente quibusdam earum hic? Enim
      vel at voluptate alias corporis hic nemo minima velit doloribus quas.Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae
                
              </div>
            </div>
          </main>
        </div>
      </body>
    </html>
