body {
  display: flex;
  flex-direction: column;
  margin: 0;
  min-height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
}

header,
aside,
.content,
footer {
  border: 1px solid #ccc;
}

header{
    background: linear-gradient(to right, #ffdddd, #110066);
    color:white;
}
main > aside > div,
main > aside:last-child{
    display:flex;
    flex-direction: column;
    background-color: #eeeeee;
    padding: 10px;
    flex:1;
}

.content {
  display:flex;
  flex-direction: column;
  flex: 14;
  background-color: #ffffff;
  padding: 20px;
}

main {
  flex: 12;
  display: flex;
}

a{
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #656464;
}

a:hover {
    background-color: #ddd;
}

aside > .info-label{
    background-color: white;
    border-color: #ccc;
    border: 1px solid #ccc;
    width:80%;
    padding:5px;
    font-size:12px;
    margin-bottom:20px;
    padding-bottom: 10px;
}

.content > .data{
    font-size:12px;
    margin:20px;
    padding-bottom: 10px;
    
}
.content > .data-bordered{
    font-size:12px;
    margin:20px;
    padding: 10px;
    background-color: #1111;
    border: 1px solid #1111;
}

footer{
    display:flex;
    flex-direction: column;
    background-color: black;
    color: white;
    text-align: center;
    padding: 20px;
}

footer.bottom{
    display:flex;
}

footer > .linkage{
    justify-content: space-between;
    align-items: center;
}

footer > .bottom > .linkage > a{
    display: inline-block;
}





@media screen and (max-width: 600px) {
  main{
    flex-direction :column;
  }

    main >  aside > div {
    flex-direction: row;
  }
}

