    <!DOCTYPE html>
    <html>
      <head>
        <link rel="stylesheet" type="text/css" href="style.css">
        <title>Exercise 1</title>
      </head>
      <body>
        <header>
          <h1>Holy Grail Layout Demo</h1>
        </header>
        <main>
          <aside>
            <h3>Navigation</h3>
            <a href="#">Home</a>
            <a href="#">About</a>
            <a href="#">Services</a>
            <a href="#">Portfolio</a>
            <a href="#">Blog</a>
            <a href="#">Contact</a>
          </aside>
          
          <div class = "content">
            <h2>Welcome to the Holy Grail Layout</h2>
            <div class="data">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae
      corporis expedita accusantium, enim ad sapiente quibusdam earum hic? Enim
      vel at voluptate alias corporis hic nemo minima velit doloribus quas.Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae
      corporis expedita accusantium, enim ad sapiente quibusdam earum hic?Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae
      corporis expedita accusantium, enim ad sapiente quibusdam earum hic? Enim
      vel at voluptate alias corporis hic nemo minima velit doloribus quas.Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae
                corporis expedita accusantium, enim ad sapiente quibusdam earum hic?Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae
                corporis expedita accusantium, enim ad sapiente quibusdam earum hic? Enim
                vel at voluptate alias corporis hic nemo minima velit doloribus quas.Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae
                corporis expedita accusantium, enim ad sapiente quibusdam earum hic?Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae
                corporis expedita accusantium, enim ad sapiente quibusdam earum hic? Enim
                vel at voluptate alias corporis hic nemo minima velit doloribus quas.Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae
                corporis expedita accusantium, enim ad sapiente quibusdam earum hic?Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae
                corporis expedita accusantium, enim ad sapiente quibusdam earum hic? Enim
                vel at voluptate alias corporis hic nemo minima velit doloribus quas.Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae
                corporis expedita accusantium, enim ad sapiente quibusdam earum hic?Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae
                corporis expedita accusantiu
              </div>
            <div class="data-bordered">
              <h3>Key Features</h3>
              corporis expedita accusantium, enim ad sapiente quibusdam earum hic?Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae
                corporis expedita accusantium, enim ad sapiente quibusdam earum hic? Enim
                vel at voluptate alias corporis hic nemo minima velit doloribus quas.corporis expedita accusantium, enim ad sapiente quibusdam earum hic?Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae
                corporis expedita accusantium, enim ad sapiente quibusdam earum hic? Enim
corporis expedita accusantium, enim ad sapiente quibusdam earum hic?Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae
                corporis expedita accusantium, enim ad sapiente quibusdam earum hic? Enim
corporis expedita accusantium, enim ad sapiente quibusdam earum hic?Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae
                corporis expedita accusantium, enim ad sapiente quibusdam earum hic? Enim

            </div>
          </div>
          <aside>
            <h3>Slidebar</h3>
            <div class="info-label">
              <h3>Quick Info</h3>
              This slidebar demonstrates how flexible content area work in the Holy Grail layout.</div>
            <div class="info-label">
              <h3>Latest News</h3>
              Sample content showing how widgets and secondary information can be displayed.</div>
          </aside>
        </main>
  
        <footer>
          <div class="top">
            <p>&copy; 2026 Holy Grail Layout Demo. Built with CSS Flexbox.</p>
          </div>
          <div class=" bottom">
            <div class="linkage">
              <a href="#">Privacy Policy</a>
              <a href="#">Terms of Service</a>
              <a href="#">Contact Us</a>
            </div>
          </div>
        </footer>
      </body>
    </html>
