
.form-bcg {
  display:flex;
  width: 1000px;
  height: 400px;
  background-color: #320968;
}

.camera-side{
  display:flex;
  background: linear-gradient(to right, #1a11be, #716c88);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  width: 35%;
  margin:10px;
  align-items: center;
  justify-content: center;
}

.circle{
  width: 80px;
  height: 80px;
  background-color: #2f26cf;;
  border-radius: 50%;
  margin: auto;
  
}
.circle > img{
  width: 100%;
  height: 100%;
  border-radius: 50%;
  opacity: 0.4;
}

.main-data{
  display:flex;
  flex-direction: column;
  background-color: #fff;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  width: 65%;
  margin:10px;
}


.main-header,
.main-info,
.main-footer{
  margin:20px;
}


.main-header{
  display:flex;
  font-weight: bold;
  font-size: 40px;
  flex:2;
  flex-direction: column;
  justify-content:end;
}

.main-info{
  font-size: 24px;
  color:#61606f;
  flex:2;
  display:flex;
  flex-direction: column;
  justify-content: center;
}

.main-footer{
  display:flex;
  flex:1;
  justify-content: space-between;
}

.price-label{
  font-weight: bold;
  font-size: 36px;
  color: rgb(237, 51, 51);
}

.button{
  background: linear-gradient(to left, #992f8e, #716c88);
  font-size: 16px;
  font-weight: bold;
  color: white;
  width: 30%;
  border-radius: 8px;
  flex: 0 0 auto;
  height: 40px;
}



@media screen and (max-width: 2000px) {
.camera-side{
  margin-right:0;
  margin-left:20px;
}

.main-data{
  margin-left:0;
  margin-right:20px;
}

}


@media screen and (max-width: 900px) {
.form-bcg {
  flex-direction: column;
  height: 800px;
  align-items: center;
}

.main-info{
  font-size: 20px;
}


.camera-side{
  margin-bottom:0;
  flex:1;
  width: 70%;
  margin:0;
  margin-top:20px;
  border-bottom-left-radius: 0;
  border-top-right-radius: 10px;
}

.main-data{
  margin-top:0;
  flex:1;
  width:70%;
  margin:0;
  margin-bottom: 20px;
  border-bottom-left-radius: 10px;
  border-top-right-radius: 0px;

}

}


@media screen and (max-width: 600px) {
.form-bcg {
  width: 500px;
}


.camera-side,
.main-data{
  width:95%;
}

 .main-data{
  margin-bottom:  5px;
  text-align: center;
} 

 .camera-side{
  margin-top:  5px;
} 

.main-footer{
  flex-direction: column;
  align-items: center;
  margin: 10px;
}

.main-info{
  font-size: 16px;
}

.button{
  flex-grow:0;
  width: 90%;
  border-radius: 8px;
  height: 50px;
}

}
